# Secrets
.env
.env.local

# Docker Data (if mapped locally)
postgres_data/
grafana_data/

# IDE files
.vscode/
.idea/
*.code-workspace

# Python
__pycache__/
.venv/
.ruff_cache
.mypy_cache
uv.lock
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
pip-wheel-metadata/

# OS files
.DS_Store
Thumbs.db
